<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Trường</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listTodo}">List</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<div class="section">
    <div class="container">

        <div class="card" style="width: 60rem; margin-top: 50px">
            <img class="card-img-top" src="http://home.vnptnet.vn/media/vnpt/2018/01/05/VNPT.jpg" alt="Card image cap" style="width: 100px; height: 100px">
            <div class="card-body">
                <form th:action="@{/addTodo}" method="post" th:object="${todo}">
                    <h3 th:utext="#{ngongu.hello}" class="form-title"></h3>
                    <div class="form-group">
                        <label>title</label>
                        <input type="text" th:field="*{title}" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>detail</label>
                        <input type="text" th:field="*{detail}" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>

<script th:src="@{/js/popper.min.js}"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>